
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-spin {
        animation: spin 1s linear infinite;

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
    }
  }




@layer components {
    .blogH1 {
        @apply py-6 text-6xl font-semibold text-pink-800 text-center ;

    }
    .blogH2 {
        @apply pt-4 pb-2 text-3xl text-pink-700 ;

    }
    .blogH3 {
        @apply pl-10 text-2xl text-pink-600 pt-4 ;

    }
    .blogH4 {
        @apply pt-2 pl-16 text-xl text-pink-600 italic ;

    }


    .blogParrafo {
        @apply  text-gray-900 pb-2 text-xl leading-loose tracking-wide  text-justify ;
    }

    .blogParrafo3 {
        @apply pl-10 pt-2 text-gray-900 text-xl leading-loose tracking-wide  text-justify;
    }
    .blogParrafo4 {
        @apply pl-16 text-gray-800 text-xl leading-loose tracking-wide  text-justify ;
    }
    .blogUl3 {
        @apply pt-2 pl-10 text-2xl list-disc list-inside text-pink-600;

    }
    .blogUl3li {
        @apply pl-10 pt-2 text-gray-800 text-xl leading-loose tracking-wide  text-justify;;

    }

    .blogUl3D {
        @apply pt-2 pl-10 text-2xl list-decimal list-inside text-pink-600;

    }







    .blogSeparador {
        @apply h-1 my-4 bg-red-800;
    }
    .blogTituloCaja {
        @apply py-2 text-2xl text-pink-800 text-center w-full font-bold underline ;
    }
    .blogSubtituloCaja {
        @apply text-xl ml-4 text-pink-700 font-bold pt-4;
    }
    .blogSubSub {
        @apply text-xl pl-6 font-semibold pt-2;
    }


    .blogDivisionCaja {
        @apply bg-gray-200 mt-4 my-2 py-2 text-pink-800 text-center w-full font-bold
    }
    .blogParrafoCaja {
        @apply text-gray-800 tracking-normal mx-4 text-justify text-lg;
    }







    .blogUl2 {
        @apply pt-2 text-2xl list-disc list-inside text-pink-600;

    }

    .blogUl4 {
        @apply pl-16 pt-2 text-2xl list-decimal list-inside text-pink-600;

    }
    .blogLi4 {
        @apply pl-16 pt-2

    }
    .blogCaja {
        @apply border-2 border-pink-400 w-3/4 bg-gray-50 m-auto my-10
    }
    .blogCajaN1 {
        @apply bg-gray-200 py-2 text-pink-800 text-center w-full font-bold
    }
    .blogCajaSubT {
        @apply p-1 font-bold text-pink-700
    }

    .blogCajaQuestion {
        @apply text-lg pl-12 italic pt-2;
    }
    .blogCajaGrupo {
        @apply text-xl font-semibold py-4
    }


    .h2titulo {
        @apply text-xl font-bold pt-8 pb-3 text-pink-600;
    }
    .h2parrafo {
        @apply  text-gray-800 pb-4 text-lg tracking-wide leading-normal text-justify ;
    }
    .h2ul {
        @apply pl-10 text-gray-800 ;
    }
    .h2li {
        @apply tracking-wide text-lg leading-normal text-justify pb-2;

    }
    .h2ul2 {
        @apply pl-20 text-gray-800 ;
    }
    .h2li2 {
        @apply tracking-wide text-lg leading-normal text-justify pb-2;

    }

    .h2liparrafo{
        @apply text-lg pl-2 pb-2;
    }



    .h3titulo {
        @apply pl-10 text-lg font-bold pt-8 pb-3 text-pink-500;
    }
    .h3parrafo {
        @apply  text-gray-800 pb-4 pl-10 text-lg tracking-wide leading-normal text-justify ;
    }
    .h3ul {
        @apply  pl-20 text-gray-800 ;
    }
    .h3li {
        @apply tracking-wide text-lg  leading-normal text-justify pb-2;

    }
    .h3liparrafo{
        @apply text-lg pl-2 pb-2;
    }







    .parrafoH3 {
        @apply  pb-4 text-green-800 text-lg tracking-wide leading-normal text-justify ;
    }
    .nivel2 {
        @apply text-xl font-bold pt-4 pb-3 text-blue-600 ;
    }
    .nivel3 {
        @apply text-lg font-bold pb-3 pt-4 text-blue-400;
    }
    .nivel4 {
        @apply text-lg pb-3 pt-4 pl-6;
    }


    .ulnivel {
        @apply pb-4;
    }
    .tituloH1 {
        @apply text-5xl text-center font-bold tracking-wider leading-loose;
    }
    .cabecera {
        @apply bg-gradient-to-b from-pink-50 via-pink-50 to-pink-200 mx-auto px-4 sm:px-6 lg:px-8 pt-10 pb-10;
    }
    .hrTitulo {
        @apply bg-pink-600 h-0.5 mb-4 border-none;
    }

    .blur {
        @apply filter blur-lg;
    }

    .youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
  }

  .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  .youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }

  .youtube-player img:hover {
    -webkit-filter: brightness(75%);
  }

  .youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;


    background: url("/img/playYoutube.png") no-repeat;
    cursor: pointer;
  }


  }
